Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.7
Flask-Limiter==3.8.0
Flask-Cors==4.0.1
SQLAlchemy==2.0.32
psycopg2-binary==2.9.9
alembic==1.13.2
PyJWT[crypto]==2.9.0
requests==2.32.3
python-dotenv==1.0.1
groq==1.6.0
boto3==1.35.24
pywebpush==2.0.1
resend==2.4.0
gunicorn==23.0.0
email-validator==2.2.0
python-dateutil==2.9.0.post0
Pillow==12.3.0
pillow-heif==1.5.0
PyMuPDF==1.24.11
redis==5.0.8
marshmallow==3.22.0
cryptography==43.0.1
py-vapid==1.9.1
